    body {
        width: 960px;
        margin: 20px auto;
    }
    
    header {
        padding: 8px 0 8px 0;
    }
    
    nav {
        padding: 4px 0 8px 0;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
    }
    
    p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16;
    }
    
    footer {
        padding: 8px 0 8px 0;
    }
    
    a {
        margin-right: 6px;
    }
    
    section {
        display: inline-block;
        width: 600px;
        padding: 0 8px 0 0;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        font-style: normal;
        font-size: 16px;
    }
    
    aside {
        display: inline-block;
        width: 336px;
        vertical-align: top;
        padding: 0 0 38px 8px;
        border-bottom: 1px solid rgb(163, 146, 146);
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        font-family: serif;
        font-size-adjust: 16px;
        font-style: oblique;
    }